<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Product</title>
</head>
<body>
<div th:fragment="product_contents">
<div class="page-header">
<h1>商品検索画面</h1>
</div>
<form action="/product" method="post">
商品名を入力<input type="text" name="keyword" th:value="${keyword1_value}" />
<input type="submit" value="送信">
</form>
<div class="page-header">
<h1>商品一覧</h1>
</div>
<div class="row">

	<div th:each="product : ${productList}">
<div class="col-lg-4 box">
	<p th:text="'商品NO:'+${product.id}" />
	<header>
	<img th:src="@{/image/{items}.jpg(items=${product.id})}" height="50" width="100"/>
	</header>
	<div class="menubody">
	<p th:text="'商品名:'+${product.name}" />
	<p th:text="'商品価格:'+${product.price}+'円'" />
	<a href="/cartAdd" th:href="@{/cartAdd(id=${product.id})}">カートに追加</a>
	</div>
</div>
</div>

</div>
	</div>
</body>
</html>