<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>Login</title>
</head>
<body class="text-center">
	<h1>Login</h1>
	<form method="post" th:action="@{/login}" th:object="${loginForm}">
		<label>ユーザーID</label><br>
	<div class="form-group" th:classappend="${#fields.hasErrors('customerId')} ? 'has-error'">
		<input type="text" th:field="*{customerId}"/> <br>
    <span class="text-danger" th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}">customerId error</span>
    </div>
	<label>パスワード</label><br>
	<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
          <input type="text" th:field="*{password}" /><br>
    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
    </div>
	<button class="btn btn-primary" type="submit">ログイン</button>
	</form>
	<a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>


</body>
</html>